.newsFeedContainer {
  padding-bottom: 30px;
  .header {
    padding: 0 0 15px;
    position: relative;
    .colHeader {

    }
    .title {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 27px;
      font-weight: 300;
      float: left;
      margin: 0;
    }
    .moreNews {
      .moreNewsBtn {
        color: #8093ff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #8093ff;
        background-color: transparent !important;
        border-radius: 0;
        &:focus, &:hover {
          border-color: #8093ff;
        }
      }
    }
  }
  .feedContainer {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #444;
    .feed {
      display: grid;
      margin-bottom: 10px;
      a {
        color: #8093ff;
        font-size: 16px;
        font-weight: 400;
      }
      span {
        color: #706928;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
.p_l_0 {
  padding-left: 0 !important;
}
.p_r_0 {
  padding-right: 0 !important;
}
